#ultimate pygame phillip henry
import pygame
screen = pygame.display.set_mode((800,400))

while true:
    for event in pygame.event.get():
        if event.type == pygame.QUIT:
        pygame.quit()
        exit()


    pygame.display.update()
